tr:not(:first-child):hover {
    cursor: pointer;
    background-color: #E1D5E7;
}

tr.highlighted {
    background-color: #E1D5E7;
}

hr {
    margin: 0 0 5px 0;
}

button {
    margin: 10px 5px 0px 5px;
}