<div class="container" style="padding: 0px; margin: 0px;">
    <div class="row mt-2">
        <div class="col-2" style="border: 1px solid #ddd; min-height: 550px; max-height: 550px; padding:7px;">
            <div style="border: 1px solid #ddd; min-height: 460px;">
                <table class="table" style="max-height: 460px; overflow-y: scroll; border-bottom: 1px solid #ddd;">
                    <tr>
                        <th style="border-right: 1px solid #ddd">ID</th>
                        <th>Contact</th>
                    </tr>

                    <tr *ngFor="let contact of contacts | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index" [class.highlighted]="i === currentIndex" (click)="fetchContact(i, contact.id)">
                        <td style="border-right: 1px solid #ddd">{{ contact.id }}</td>
                        <td>{{ contact.fullName }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="padding-top: 5px;">
                <pagination-controls
                    previousLabel=""
                    nextLabel=""
                    [responsive]="true"
                    (pageChange)="handlePageChange($event)"
                ></pagination-controls>
                Records per page: 
                <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                </select>
            </div>
        </div>
        
        <div class="col-5">
            <div style="border: 1px solid #ddd; min-height: 275px; margin: 0 1px;">
                <div style="padding:7px;">
                    <strong>Contact details</strong>
                    <hr/>
                    <form [formGroup]="contactForm" *ngIf="currentContact">
                        <div class="row" style="margin-bottom: .5rem">
                            <label for="id" class="col-sm-2">ID:</label>
                            <div class="col-sm-4">
                                <input id="id" formControlName="id" type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: .5rem">
                            <label for="firstName" class="col-sm-2">Firstname:</label>
                            <div class="col-sm-4">
                                <input id="firstName" formControlName="firstName" [class.is-invalid]="firstName.invalid && firstName.touched" type="text" class="form-control form-control-sm" (blur)="updateFullName()" />
                            </div>
                            <label for="lastName" class="col-sm-2">Lastname:</label>
                            <div class="col-sm-4">
                                <input id="lastName" formControlName="lastName" [class.is-invalid]="lastName.invalid && lastName.touched" type="text" class="form-control form-control-sm" (blur)="updateFullName()" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: .5rem">
                            <label for="fullName" class="col-sm-2">Fullname:</label>
                            <div class="col-sm-10">
                                <input id="fullName" formControlName="fullName" type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: .5rem">
                            <label for="email" class="col-sm-2">Email:</label>
                            <div class="col-sm-10">
                                <input id="email" formControlName="email" [class.is-invalid]="email.invalid && email.touched" type="email" class="form-control form-control-sm" email />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: .5rem">
                            <label for="phone" class="col-sm-2">Phone:</label>
                            <div class="col-sm-10">
                                <input id="phone" formControlName="phone" [class.is-invalid]="phone.invalid && phone.touched" type="text" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: .5rem">
                            <label class="col-sm-2">Created:</label>
                            <div class="col-sm-4">
                                {{ currentContact.createdOn | date:'dd-MM-yyyy hh:mm' }}
                            </div>
                            <label class="col-sm-2">Updated:</label>
                            <div class="col-sm-4">
                                {{ currentContact.updatedOn | date:'dd-MM-yyyy hh:mm' }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="border: 1px solid #ddd; min-height: 265px; max-height: 265px; margin: 10px 1px 0px 1px;">
                <div style="padding:7px;">
                    <strong>Linked Entities</strong>
                    <hr/>
                    <div style="max-height: 260px; overflow-y: scroll;">
                        <table *ngIf="entities.length > 0" class="table table-bordered" style="margin-top: 5px; border: 1px solid #ddd;">
                            <tr>
                                <th style="border-right: 1px solid #ddd">ID</th>
                                <th style="border-right: 1px solid #ddd">Entity Type</th>
                                <th>Entity Name</th>
                            </tr>
            
                            <tr *ngFor="let entity of entities" (click)="fetchContact(contact.id)">
                                <td style="border-right: 1px solid #ddd">{{ entity.id }}</td>
                                <td style="border-right: 1px solid #ddd">{{ entity.entityType | titlecase}}</td>
                                <td>{{ entity.name }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5" style="border: 1px solid #ddd; min-height: 550px; max-height: 550px; padding:7px;">
            <div [formGroup]="contactForm">
                <strong>Notes</strong>
                <hr/>
                <div style="border: 1px solid #ddd; min-height: 120px; max-height: 120px;">
                    <textarea *ngIf="currentContact"  [class.is-invalid]="notes.invalid && notes.touched" formControlName="notes" class="form-control form-control-sm" style="resize: none; height: 8.5em"></textarea>
                </div>
            </div>
            <div style="min-height: 430px; padding-top: 15px;">
                <div style="min-height: 320px;">
                    <strong>Comments, Activity</strong>
                    <hr/>
                    <div style="overflow-y: scroll; max-height: 300px;">
                        <div *ngFor="let comment of comments" class="card" style="margin-bottom: 5px;">
                            <div class="card-body" style="padding: .5em;">
                                <strong>{{ comment.user }}</strong> 
                                <span style="float: right;">{{ comment.timestamp | date:'dd-MM-yyyy hh:mm' }}</span>
                                <br/>
                                <p style="margin-top: 10px;">{{ comment.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary btn-sm" (click)="enableFields()">Edit</button>
                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="cancelUpdatedFields()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
